.grafica {
	height: 327px;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
}

body, html {
	height: 100%;
	color: #777;
	line-height: 1.8;
	margin: 0;
	padding: 0;
}

td {
	text-align: center;
}

#map {
	height: 100%;
}

#mapa {
	min-height: 242px;
	height: 100%;
	width: 100%;
}

/* Para el botón FAB */
.sinBorde {
	border-bottom: none !important;
}

.contenedor {
	position: fixed;
	right: 1%;
	bottom: 3%;
}

.botonF1 {
	z-index: 1;
	transition: 0.5s;
	transition: .3s;
}

span {
	transition: .5s;
}

.btn {
	transform: scale(0);
}

.botonF2 {
	transition: 0.5s;
}

.botonF3 {
	transition: 0.7s;
}

.botonF4 {
	transition: 0.9s;
}

.botonF5 {
	transition: 0.99s;
}

.animacionVer {
	transform: scale(1);
}
/* Fin del botón FAB*/