
 .grafica {width: 707.5px; height: 437.1507462338126px; }
  #regions_div{width: 900px; height: 500px;}

  
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
td{text-align:center;}
#mapa { height: 250px; width: 250px}