td {text-align: center;}
#lluvia{
background-image: url(http://drive.google.com/uc?export=view&id=0BwBkl30bqN8KQlJWMXZXUnVaRjQ);
background-repeat: no-repeat;
background-position: right top;
}
#temperatura{
background-image: url(http://drive.google.com/uc?export=view&id=0BwBkl30bqN8KaktmemdWR0swaHc);
background-repeat: no-repeat;
background-position: right top;
}
#sol{
background-image: url(http://drive.google.com/uc?export=view&id=0BwBkl30bqN8KY3dwcUR5dGVkSVU);
background-repeat: no-repeat;
background-position: right top;
}
#radiacion{
background-image: url(http://drive.google.com/uc?export=view&id=0BwBkl30bqN8KV21icHlia3psWUU);
background-repeat: no-repeat;
background-position: right top;
}
iframe{
    padding: 50px 50px 50px 50px;
}