{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Conoce al equipo de Open Smart Country</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="Open Smart Country, Agrotech, IoT, Analitycs, Open Data, Parcela, Terreno"/>
    <meta name="description"
          content="Conoce al equipo que está detrás de Open Smart Country"/>
    <meta name="author" content="Isabel Muñoz @teanocrata"/>
    <link rel="stylesheet" href="{% static 'osc/css/w3.css' %}"/>
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'osc/css/estilo.css' %}"/>
    <link href="{% static 'osc/img/OpenSmartCountry_logo_192x192.png' %}" rel="icon"
          sizes="192x192"/>
    <link href="{% static 'osc/img/OpenSmartCountry_logo_128x128.png' %}" rel="icon"
          sizes="128x128"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            },
            i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87069839-1', 'auto');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('send', 'pageview');
    </script>
    <script async src="{% static 'osc/js/autotrack.js' %}"></script>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <ul class="w3-navbar w3-card-2 w3-left-align">
        <li class="w3-hide-medium w3-hide-large w3-opennav w3-right"><a
                class="w3-padding-large" href="javascript:void(0)"
                onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a></li>
        <li><a href="/" class="w3-padding-large w3-opacity"><img
                src="{% static 'osc/img/OpenSmartCountry_logo_25x26.png' %}"
                alt="Open Smart Country logo"></a></li>
        <li><a href="/team"
               class="w3-hide-small w3-padding-large w3-text-grey">NOSOTROS</a></li>
        <li><a
                onclick="document.getElementById('suscripcion').style.display='block'"
                class="w3-hide-small w3-padding-large w3-text-grey">CONTACTO</a></li>
    </ul>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top"
     style="margin-top: 46px">
    <ul class="w3-navbar w3-left-align w3-dark-grey">
        <li><a href="/team" class="w3-padding-large">NOSOTROS</a></li>
        <li><a
                onclick="document.getElementById('suscripcion').style.display='block'"
                class="w3-padding-large">CONTACTO</a></li>
    </ul>
</div>

<div id="suscripcion" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container w3-padding w3-center">
				<span
                        onclick="document.getElementById('suscripcion').style.display='none'"
                        class="w3-closebtn">&times;</span>
            <p>Si quieres que te avisemos con los avances que realicemos,
                déjanos tu correo y te informaremos.</p>
            <p>
                Sólo lo utilizaremos para eso, <strong>nada de Spam</strong>, y
                puedes darte de baja cuando quieras.
            </p>
            <p>Rellene el siguiente formulario para suscribirse.</p>
            <form class="w3-container"
                  enctype="application/x-www-form-urlencoded"
                  action="http://opensmartcountry.ip-zone.com/ccm/subscribe/index/form/9ljsfx841o"
                  method="post">
                <dl class="zend_form">
                    <dt id="groups-label"></dt>
                    <dd id="groups-element">
                        <input class="w3-input" type="hidden" name="groups[]" value="1"/>
                    </dd>

                    <dt id="name-label">
                        <label for="name" class="optional w3-label w3-text-grey">Nombre</label>
                    </dt>
                    <dd id="name-element">
                        <input type="text" class="w3-input" name="name" id="name"
                               value=""/>
                    </dd>

                    <dt id="email-label">
                        <label for="email"
                               class="required w3-label w3-validate w3-text-grey">Email</label>
                    </dt>
                    <dd id="email-element">
                        <input type="email" class="w3-input" name="email" id="email"
                               value="" required/>
                    </dd>

                    <dt id="submit-label"></dt>
                    <dd id="submit-element">
                        <button ga-on="click"
                            ga-event-category="Subscriptions"
                            ga-event-action="subscribe"
                            ga-event-label="OK" type="submit"
                            name="submit" id="submit"
                            class="w3-btn w3-dark-grey w3-margin-top"
                            >Mantenme al tanto</button>
                    </dd>

                </dl>
            </form>
        </div>
    </div>
</div>


<!-- The Team Section -->

<header class="w3-container w3-center w3-padding-64">

    <h2 class="w3-wide">Aquí estamos</h2>
    <p class="w3-opacity">
        <i>queremos cambiar las cosas</i>
    </p>
    <p>Llevamos años trabajando juntos, flipados con la tecnología y
        disfrutando mucho de ello.</p>
    <p>Pero ¿y si además intentamos mejorar el mundo?</p>
</header>
<div class="w3-row-padding w3-center w3-margin-top w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-center w3-card-12 w3-padding-16">
            <h2>Isabel</h2>
            <p>
                <em>Queen of All, Breaker of Chains</em>
            </p>
            <a href="https://es.linkedin.com/in/m-isabel-muñoz-ordóñez-588a8b92" target="_blank">
                <div class="w3-tooltip">
						<span style="position: absolute; rigth: 0; bottom: 0"
                              class="w3-text"> <img src="{% static 'osc/img/daeneris_linkedin.gif' %}"
                                                    style="width: 100%; height: auto;" class="w3-hover-opacity"/>
						</span> <img src="{% static 'osc/img/DSCN1409_small.JPG' %}"
                                     style="width: 100%; max-width: 236px" class="w3-hover-opacity"/>
                </div>
            </a>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-center w3-card-12 w3-padding-16">
            <h2>Miguel</h2>
            <p>
                <em>The Lord of the Data</em>
            </p>
            <a href="https://es.linkedin.com/in/mglalvarez" target="_blank">
                <div class="w3-tooltip">
						<span style="position: absolute; rigth: 0; bottom: 0"
                              class="w3-text"> <img src="{% static 'osc/img/sauron_linkedin.gif' %}"
                                                    style="width: 100%; height: auto;" class="w3-hover-opacity"/>
						</span> <img src="{% static 'osc/img/miguel_236x236.jpg' %}"
                                     style="width: 100%; max-width: 236px" class="w3-hover-opacity"/>
                </div>
            </a>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-center w3-card-12 w3-padding-16">
            <h2>Javier</h2>
            <p>
                <em>El Ingenioso Hidalgo</em>
            </p>
            <a
                    href="https://es.linkedin.com/in/javier-lafuente-garcía-6616734/es" target="_blank">
                <div class="w3-tooltip">
						<span style="position: absolute; rigth: 0; bottom: 0"
                              class="w3-text"> <img src="{% static 'osc/img/quijote_linkedin.gif' %}"
                                                    style="width: 100%; height: auto;" class="w3-hover-opacity"/>
						</span> <img src="{% static 'osc/img/javier_236x236.jpg' %}"
                                     style="width: 100%; max-width: 236px" class="w3-hover-opacity"/>
                </div>
            </a>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-center w3-card-12 w3-padding-16">
            <h2>Erika</h2>
            <p>
                <em>"Silent Spring" igniter</em>
            </p>
            <a href="https://es.linkedin.com/in/erica-pérez-bartolomé-796a6a12a" target="_blank">
                <div class="w3-tooltip">
						<span style="position: absolute; rigth: 0; bottom: 0"
                              class="w3-text"> <img src="{% static 'osc/img/nature_linkedin.gif' %}"
                                                    style="width: 100%; height: auto;" class="w3-hover-opacity"/>
						</span> <img src="{% static 'osc/img/erika_236x236.jpg' %}"
                                     style="width: 100%; max-width: 236px" class="w3-hover-opacity"/>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
    <footer class="w3-bottom">
        <ul class="w3-navbar w3-card-2 w3-left-align w3-light-grey">
            <li>
                <a href="https://www.facebook.com/opnsc"
                    class="w3-hover-text-indigo"
                    target="_blank"
                    style="float:left;"><i
                    class="fa fa-facebook-official"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/opnsc"
                    class="w3-hover-text-light-blue"
                    target="_blank"
                    style="float:left;"><i
                    class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://github.com/teanocrata/OpenSmartCountry"
                    class="w3-hover-text-black"
                    target="_blank"
                    style="float:left;"><i
                    class="fa fa-github"></i></a>
            </li>
            <li class="w3-right">
                <a rel="license"
                    href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                    target="_blank"
                    style="float:right;">
                    <img alt="Creative Commons License"
                        style="border-width: 0"
                        src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                </a>
            </li>
        </ul>
    </footer>
    
<script>
		// Used to toggle the menu on small screens when clicking on the menu button
		function myFunction() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}




</script>
</body>
</html>